################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/Typing Game/SFML-2.5.1/
/.vs
